:root {
  font-family: Montserrat, Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: Montserrat;
  src: url(./constants/fonts/Montserrat-VariableFont_wght.ttf);
}
